* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 3px solid red !important; */
  font-family: 'Poppins', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



a {
  text-decoration: none;
  color: #353535;

}

.all-btn {
  inline-size: 110px;
  /* text-align: center; */
}

.active {


  color: #1976d2;
  background-color: transparent;


}

.toastContainerBox {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  inline-size: 300px;
  z-index: 1000;
  margin: 50px auto;
}

.margin {
  margin-block-start: 120px;
  margin-block-end: 120px;
  inline-size: 100%;
  padding: 0;
}

@media screen and (max-width: 960px) {
  .all-btn {
    inline-size: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .toastContainerBox {
    inset-inline-start: 0px;
  }

  .margin {
    margin-block-start: 70px;
    margin-block-end: 70px;
  }


}

@media (max-width: 768px) {
  .recharts-responsive-container {
    inline-size: 100%;
  }
}


@media (min-width: 768px) and (max-width:1023px) {}


@keyframes slide {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(-100%);
  }
}